%h1 Строительство
%ul
	- @pages.each do |page|
		%li
			= link_to page.title, page
			= link_to 'Edit', edit_page_path(page) if admin?
			= link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete if admin?
= link_to 'New Page', new_page_path if admin?
