/*
	*= require_self
	*= require jqGalScroll
	*= require tinyTips
*/

@import "compass";
//@import "compass/css3.sass";
//@import "compass/utilities";
//@import "compass/reset.scss";
//@import "compass/layout.scss";

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #585858;
	background-color: #ededed;
	}

a:link, a:visited { color: #006600; text-decoration: none; background:none; }

a:active, a:hover { color: #CC0000; text-decoration: none; background:none; }

h1 {
	font-size: 22px;
	font-weight: bold;
	color: #38713a;
	height: 32px;
	background: url(images/header1.jpg) no-repeat;
	padding: 15px 0px 0px 55px;
	}

h2 {
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #56b81b;
	height: 20px;
	padding: 7px 0px 0px 35px;
	background: url(images/header2.jpg) no-repeat;
	}

#container {
	width: 900px;
	margin: auto;
	background-color: #fff;
	}

#top_section {
	float: right;
	width: 900px;
	height: 50px;
	background: url(images/menu.jpg) no-repeat;
	}

#welcomesection {
	float: left;
	width: 900px;
	img {
		float: left;
		padding-right: 10px;
	}
	ul { margin: 40px 0 40px 0; }
	li {
		line-height: 40px;
		font-size: 20px;
		list-style: none;//square url(images/header3.jpg);
		a {
			color: lighten(#060, 8%);
			font-weight: bold;
			text-decoration: none;
			background: url(images/header3.jpg) left bottom no-repeat;
			padding-left: 40px;
			&:hover {
				padding-left: 50px;
				//border-bottom: solid 1px #585858;
			}
		}
		a.inline-link {
			color: #060;
			font-weight: bold;
			text-decoration: none;
			background: none;
			padding-left: 0;
			&:hover {
				padding-left: 0;
				color: #c00;
			}
		}
	}
	ul.info-text {
		margin: 10px 0 10px 0;
		li {
			line-height: 22px;
			font-size: 12px;
			list-style: square;
			color: lighten(#684125, 5%);
			padding-bottom: 5px;
		}
	}
	ul.main-text {
		margin: 10px 0 10px 0;
		li {
			line-height: 32px;
			font-size: 12px;
			list-style: none;
			color: lighten(#684125, 5%);

			a {
				padding: 10px 5px 5px 40px;
				&:hover { padding: 10px 5px 5px 50px; }
			}
		}
	}
	.proj-list {
		@include border-radius(25px);
		display: block;
		float: left;
		margin-left: 60px;
		margin-bottom: 40px;
		border: solid 1px #fff;
		width: 180px;
		height: 240px;
		padding: 10px;
		text-decoration: none;
		&:hover {
			border: solid 1px lighten(#060, 65%); //#ccc;
		}
		img.proj-img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			//width: 120px;
			float: none;
		}
		.proj-name {
			padding: 10px 0 5px 0;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: #38713a;
			a:hover {
				border-bottom: solid 1px #38713a;
				color: #38713a;
			}
		}
		.proj-info {
			margin: 0;
			padding: 5px 0 5px 0;
			text-align: center;
			font-size: 12px;
			//font-weight: bold;
			color: #684125;
		}
		.proj-price {
			color:red;
			font-weight:bold;
			text-align: center;
			font-size: 15px;
		}
	}
	a.rowbottom {
		@include border-radius(25px);
		display: block;
		float: left;
		margin-left: 60px;
		margin-bottom: 40px;
		border: solid 1px #fff;
		width: 180px;
		height: 220px;
		padding: 10px;
		text-decoration: none;
		&:hover {
			border: solid 1px lighten(#060, 65%); //#ccc;
		}
		img.proj-img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			//width: 120px;
			float: none;
		}
		.proj-name {
			padding: 20px 0 5px 0;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: #38713a;
		}
		.proj-info {
			margin: 0;
			padding: 5px 0 5px 0;
			text-align: center;
			font-size: 12px;
			//font-weight: bold;
			color: #684125;
		}
	}
	a.rowbottom-work {
		@include border-radius(25px);
		display: block;
		float: left;
		margin-left: 60px;
		margin-bottom: 40px;
		border: solid 1px #fff;
		width: 180px;
		height: 180px;
		padding: 10px;
		text-decoration: none;
		&:hover {
			border: solid 1px lighten(#060, 65%); //#ccc;
		}
		img.proj-img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			//width: 120px;
			float: none;
		}
		.proj-name {
			padding: 20px 0 5px 0;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: #38713a;
		}
	}
}

.topmenu{
	float: right;
	width: 650px;
	padding-right: 5px;
	}

.topmenu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	}

.topmenu li{
	display: inline ;
	padding: 0px;
	margin: 0px;
}

.topmenu li a{
	float: left;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	//margin-right:12px;
	//margin-left:20px;
	//width: 90px;
	margin:0;
	height: 30px;
	padding: 16px 22px 0px 20px;
	//border-right: solid 1px red;
	background: url(images/top-line.png) right top no-repeat;
}

.topmenu li a:hover{
	color: #91e30c;
	text-decoration: underline;
	}

#headersection {
	float: left;
	width: 410px;
	height: 180px;
	color: #fff;
	text-align: justify;
	font-size: 11px;
	padding: 50px 140px 0px 350px;
	background: url(images/header.jpg) no-repeat;
	}

#headersection span {
	font-size: 18px;
	font-weight: bold;
    nobr { margin-left: -10px; }
	}

#welcomesection {
	float: left;
	width: 800px;
	text-align: justify;
	padding: 0px 50px 0px 50px;
	}
#welcomesection p {
	color: #684125;
	}

#footersection {
	clear: both;
	width: 900px;
	height: 23px;
	margin-top: 20px;
	background-color: #cbf0bb;
	text-align: center;
	padding-top: 7px;
	}

#boxleft {
	float: left;
	width: 400px;
	padding-left: 50px;
	}

#boxright {
	float: left;
	width: 430px;
	padding-left: 20px;
	}

.box_left {
	float: left;
	width: 23px;
	height: 253px;
	background: url(images/box_left.jpg) no-repeat;
	}

.box_middle {
	float: left;
	width: 330px;
	height: 253px;
	text-align: justify;
	padding: 0px 5px 0px 5px;
	background: url(images/box_middle.jpg) repeat-x;
	}
.box_middle p {
	color: #684125;
	}

.box_middle img {
	float: left;
	padding-right: 10px;
	}

.box_right {
	float: left;
	width: 23px;
	height: 253px;
	background: url(images/box_right.jpg) no-repeat;
	}

.morebutton1 {
	background: url(images/morebutton1.jpg) no-repeat;
	font-size: 11px;
	height: 39px;
	width: 62px;
	padding: 8px 0px 0px 20px;
	font-weight: bold;
	a {
		color: #FFFFFF;
	}
}

.morebutton2 {
	float: right;
	background: url(images/morebutton2.jpg) no-repeat;
	width: 51px;
	height: 28px;
	font-size: 10px;
	padding: 5px 0px 0px 10px;
	a {
		font-weight: bold;
		color: #FFFFFF;
	}
}

.morebutton3 {
	background: url(images/morebutton3.jpg) no-repeat;
	font-size: 11px;
	height: 51px;
	width: 150px;
	padding-top: 5px;
	padding-left: 15px;
	font-weight: bold;
	text-align: left;
	a {
		color: #FFFFFF;
	}
}

.clear {
	clear: both;
}
